<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<hr>
<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName/>
  <label>strength:</label> <input #heroStrength/>
  <button (click)="add(heroName.value, heroStrength.value); heroName.value=''; heroStrength.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.strength}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
            (click)="delete(hero); $event.stopPropagation()">x
    </button>
  </li>
</ul>
